<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- ✅ 설정: underscore → camelCase 자동 매핑 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- ✅ 매퍼 스캔 경로 설정 -->
    <mappers>
        <package name="com.template.backendescro.mapper"/>
    </mappers>
</configuration>

